.sidebar_grandparent {
    min-width: 260px;
    padding: 20px 11px;
    z-index: 10000;
    position: absolute;
}

.sidebar-parent {
    border: solid 1px #0000004a;
    padding: 18px 6px;
    border-radius: 8px;
}

.tool-button-child {
    padding: 10px 3%;
}

.node-button {
    border: solid 1px #00000042;
    display: flex;
    /* padding: 5px; */
    gap: 10px;
    margin: 7px 0px;
    border-radius: 0px 7px 13px 15px;
    justify-content: center;
    align-items: center;
}

.node-button-icon-parent {
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    gap: 13px;
    width: 113px;
    justify-content: flex-end;
    padding: 8px;
}